<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}site portail des santonniers et des passionnés de la crèche provençale{% endblock %}</title>
        <meta name="description" content="{% block description %}Le site portail des santonniers vous permet de découvrir toutes les nouveautés proposées par les santonniers adhérents au site, de préparer une liste d'envie et de suivre vos collections de santons{% endblock %}">
        <link rel="icon" href="{{ asset('img/logo.png')}}">
        <script defer src="//www.google.com/recaptcha/api.js?hl=en"></script>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>

<body>
{% include "partials/_header.html.twig" %}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{label}} w-100 d-flex align-items-center" role="alert">
                            <p class="center">{{message}}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
  
  <img class="scrollTop" onclick="scrollToTop();" src="{{asset('img/up.png')}}">

{% block body %}

{% endblock %}
{% include "partials/_footer.html.twig" %}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<script type="text/javascript">

window.addEventListener('scroll', function () {
    let scroll = document.querySelector('.scrollTop');
    scroll.classList.toggle("active", window.scrollY > 500)
})

function scrollToTop(){
    window.scrollTo({
        top: 0,
        behaviour: 'smooth'
})}
</script>

</body>
</html>
